<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div>1111</div> 
</body>
<script>
  window.onload = () => {
    getStaffDetail()
  }

  function getStaffDetail () {
    console.log(111)
    fetch('/staff/detail', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: 1
      })
    })
  }
</script>
</html>